@mixin clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin scrollBar {
  &::-webkit-scrollbar-track-piece {
    background: #fff;
    width: 6px;
  }

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(40, 44, 52, 0.1);
    border: 3px solid transparent;
    border-radius: 7px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(40, 44, 52, 0.2);
  }
}

@mixin relative {
  position: relative;
  width: 100%;
  height: 100%;
}

@mixin pct($pct) {
  width: #{$pct};
  position: relative;
  margin: 0 auto;
}

@mixin triangle($width, $height, $color, $direction) {
  $width: $width/2;
  $color-border-style: $height solid $color;
  $transparent-border-style: $width solid transparent;
  height: 0;
  width: 0;

  @if $direction==up {
    border-bottom: $color-border-style;
    border-left: $transparent-border-style;
    border-right: $transparent-border-style;
  } @else if $direction==right {
    border-left: $color-border-style;
    border-top: $transparent-border-style;
    border-bottom: $transparent-border-style;
  } @else if $direction==down {
    border-top: $color-border-style;
    border-left: $transparent-border-style;
    border-right: $transparent-border-style;
  } @else if $direction==left {
    border-right: $color-border-style;
    border-top: $transparent-border-style;
    border-bottom: $transparent-border-style;
  }
}

@mixin treeSelectSize($size) {
  $height: 40;
  $fontSize: 14px;
  @if $size==default {
    $height: 40;
    $fontSize: 14px;
  } @else if $size==medium {
    $height: 36;
    $fontSize: 14px;
  } @else if $size==small {
    $height: 32;
    $fontSize: 12px;
  } @else if $size==mini {
    $height: 28;
    $fontSize: 12px;
  }
  .vue-treeselect__control {
    border-radius: 4px;
    height: #{$height}px;
    font-size: $fontSize;
    padding-left: 10px;
    .vue-treeselect__placeholder,
    .vue-treeselect__single-value {
      line-height: #{$height - 2}px;
    }
    .vue-treeselect__single-value {
      color: #606266;
    }
  }
  .vue-treeselect__menu-container{
    font-size: $fontSize;
  }
}
